<div class="flex justify-center">
  <div class="w-full sm:w-1 md:w-3/5">
    <h1
      class="ui_rich-text Playfair-Regular text-center text-[24px] text-white mt-7 mb-2"
    >
    Ingenieurbüro Ahmed Gharib
  </h1>
    <h6
      class="ui_rich-text Playfair-Regular text-center text-[15px] text-white my-3"
    >
    <a href="tel:491621636893"> +49 162 163 6893</a>  </h6>
    <h6
      class="ui_rich-text Playfair-Regular text-center text-[15px] text-white my-3"
    >
    info(at)ib-gharib.de
  </h6>
    <h6
      class="ui_rich-text Playfair-Regular text-center text-[15px] text-white mt-3 mb-1"
    >
    Ingenieurbüro Ahmed Gharib
  </h6>
    <h6
      class="ui_rich-text Playfair-Regular text-center text-[15px] text-white my-3"
    >
    Johannesstraße 56
  </h6>
    <h6
      class="ui_rich-text Playfair-Regular text-center text-[15px] text-white my-3"
    >
    78056 Villingen-Schwenningen

  </h6>
    <h6
      class="ui_rich-text Playfair-Regular text-center text-[12px] text-white mt-14 mb-3"
    >
    <a routerLink="/impressum-datenschutz" routerLinkActive="active"   rel="noopener noreferrer">
    Impressum & Datenschutz</a>
  </h6>
    <h6
      class="ui_rich-text Playfair-Regular text-center text-[12px] text-white my-3"
    >
    © {{date| date:'yyy'}} Ingenieurbüro Ahmed Gharib.
  </h6>
    <div
      class="grid gap-1 mb-6 lg:grid-cols-1 md:grid-cols-1 px-6 mt-3 text-center"
    >

    </div>
  </div>
</div>
